
.sensor-container {
	display: inline;
	position: relative;
	z-index: 20;
	overflow: hidden;
	border: 0;
	padding: 0;
	margin: 0;
	gap: 0;
	resize: none;
	grid-column-start: 1;
	grid-column-end: 50;
	grid-row-start: 1;
	grid-row-end: 20;
	.sensor-legend {
		color: white;
	}
	.sensor {
		display: inline-block;
		padding: 0;
		margin: 0;
		gap: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		resize: none;
	}

	/* NAME STYLES WITH CAPITAL LETTER ONLY! */

	/* default style, must always be present */
	&.Default {
		border: solid white 1px;
		.sensor-legend {
			background-color: orange;
		}
		.sensor {
			background-color: cyan;
		}
	}

	/* custom style: right-aligned title */
	&.Right {
		border: 0;
		.sensor-legend {
			float: right;
			background-color: #00000000;
			color: black;
		}
		.sensor {
			background-color: #00000000;
		}
	}

	/* add more styles */
}
