
.sensor-container {
	display: inline;
	position: relative;
	z-index: 20;
	overflow: hidden;
	border: 0;
	padding: 0;
	margin: 0;
	gap: 0;
	resize: none;
	grid-column-start: 1;
	grid-column-end: 50;
	grid-row-start: 1;
	grid-row-end: 20;
	.sensor-legend {
		color: white;
	}
	.sensor {
		display: inline-block;
		padding: 0;
		margin: 0;
		gap: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		resize: none;
	}

	/* NAME STYLES WITH CAPITAL LETTER ONLY! */

	/* default style, must always be present */
	&.Default {
		border: solid white 1px;
		border-radius: 4px;
		box-shadow: 5px 3px 10px black;
		.sensor-legend {
			margin: 0 0.5em 0 0.5em;
			padding: 0 0.5em 0 0.5em;
			border: inherit;
			border-radius: inherit;
			font-size: 0.8em;
			font-style: italic;
			background-color: transparent;
		}
		.sensor {
			border: 0;
			background-color: transparent;
		}
	}

	/* custom style: no border */
	&.Flat {
		border: 0;
		.sensor-legend {
			border-radius: 4px;
			margin: 0 0.5em 0 0.5em;
			padding: 0 0.5em 0 0.5em;
			font-size: 0.8em;
			font-style: italic;
			background-color: #00000000;
		}
		.sensor {
			background-color: #00000000;
		}
	}

	/* custom style: right-aligned title */
	&.Right {
		border: 0;
		.sensor-legend {
			float: right;
			background-color: #00000000;
			color: black;
		}
		.sensor {
			background-color: #00000000;
		}
	}


	/* add more styles */
}
